.entryImg {
    width: 95%;
    height: auto;
}

.blogCard {
    width: 300px;
    height: 315px;
    background-color: #b7dfe1;
    border: 2px;
    border-style: solid;
    border-color: white;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 20px;
    padding-top: 10px;
}

.featImg {
    width: 30%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}

.hdrBg {
    background-color: #9cd4d7;
    height: 395px;
    width: 101.5%;
    margin-top: -10px;
    margin-left: -20px;
    position: fixed;
}

.hdrBdr {
    width: 85%;
    height: 365px;
    margin-top: 20px;
    margin-left: -42.75%;
    left: 50%;
    background: #9cd4d7;
    border-color: #184246;
    border-style: solid;
    border-width: 5px;
    position: fixed;
}

.postHdr {
    width: 80%;
    background: #184246;
    padding: 10px;
    margin-top: 25px;
    margin-left: -41%;
    left: 50%;
    position: fixed;
}

.entryBg {
    background-color: #edf7f8;
    height: 385px;

}

.entryHdr {
    font-family: 'Allura-Regular';
    font-size: 150px;
    align-content: center;
    background-color: #b7dfe1;
    width: 101.5%;
    margin-left: -10px;

}

.entryTxt {
    background-color: #dbeff0;
    font-family: 'ChelseaMarket-Regular';
    font-size: 20px;
    align-content: center;
    padding-top: 180px;
    padding-bottom: 50px;
    width: 87%;
}