.ch1Img {
    margin-left: -8px;
    margin-right: auto;
    margin-bottom: -12px;
    margin-top: -8px;
    float: left;
    height: 662px;
    width: auto;
    }

.ch1Pos {
    padding-left: 625px;
    padding-right: 25px;
    padding-top: 50px;
    font-family: 'AlmendraDisplay-Regular'; 
    color: #184246;
    font-size: 60px;
}

.ch1Text {
    font-family: 'AlmendraDisplay-Regular'; 
    color: #184246;
    font-size: 60px;

}

.ch1Body {
    font-family: 'ChelseaMarket-Regular'; 
    color: #184246;
    font-size: 30px;

}

.ch1Body-2 {
    font-family: 'FrederickatheGreat-Regular';
    color: #184246;
    font-size: 30px;
}


.ch1Body-4 {
    font-family: 'ChelseaMarket-Regular';
    color: #184246;
    font-size: 60px;
}

.ch1Body-5 {
    font-family: 'Allura-Regular';
    color: #184246;
    font-size: 50px;
}


