.storyImg {
    width: 95%;
    height:auto
}

.storyCard {
    width: 250px;
    height: 315px;
    border: 2px;
    border-style: solid;
    border-color: white;
    background-color: #b7dfe1;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 20px;
    padding-top: 10px;
}

