* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Font Families*/

@font-face {
    font-family: 'PatuaOne-Regular';
    src: url('./fonts/PatuaOne-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Pacifico-Regular';
    src: url('./fonts/Pacifico-Regular.ttf') format('truetype');
}

/*Universal Base Styles*/

html {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { font-family: 'PatuaOne-Regular'; 
    min-height: 100%;
    margin: 0 auto;
    }

#root, .App {
    min-height: 100vh;
}

.Home {
    display: flex;
    flex-wrap: wrap;
    font-family: 'PatuaOne-Regular';
    color: #000000;
    min-height: 100vh;
  }


/*Header Styles*/


.menuDiv { 
    width: 100vw;
    background: #136a8a;
    background: -webkit-linear-gradient(to right, #267871, #136a8a); 
    background: linear-gradient(to right, #267871, #136a8a);
     

}

.homeTitle-mb {
    font-family: 'Pacifico-Regular'; 
    background: #fbc2eb;
    background: -webkit-linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
    background: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.homeTitle-dk {
    font-family: 'Pacifico-Regular'; 
    background: #fbc2eb;
    background: -webkit-linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
    background: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.homeLinks {
    display: flex;
    justify-content: center;
}

/*Footer Styles*/

.footer {
    background: #136a8a;
    background: -webkit-linear-gradient(to right, #267871, #136a8a); 
    background: linear-gradient(to right, #267871, #136a8a);  
}

/*Link Styles*/

a.h1links:link {
    text-decoration: none;
    background: #fbc2eb;
    background: -webkit-linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
    background: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    }
    
a.h1links:visited {
    text-decoration: none;
    background: #fbc2eb;
    background: -webkit-linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
    background: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    }
    
a.h1links:hover {
    text-decoration: none;
    background: #5ee7df;
    background: -webkit-linear-gradient(to top, #5ee7df 0%, #b490ca 100%); 
    background: linear-gradient(to top, #5ee7df 0%, #b490ca 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
    
a.h1links:active {
        text-decoration: underline;
        color: #ffffff;
    }
    
a.bodylinks:link {
        text-decoration: underline;
        color: #000000;
    }
    
a.bodylinks:visited {
        text-decoration: underline;
        color: #000000;
    }
    
a.bodylinks:hover {
        background-color: #000000;
        color: #ffffff;
    }
    
a.bodylinks:active {
        text-decoration: underline;
        color: #000000;
    }
    
    

/*Mobile Styles*/
@media only screen and (max-width: 599px) {

    .menuDiv {
        display: block;
        height: 20vh;
    }

    .homeTitle-mb {
        text-align: center;
        margin-top: 6%;
        font-size: 6vw;
    }

    .homeTitle-dk {
        display: none;
    }

    .hrLine {
        width: 30%;
        margin-left: 35%;
        margin-right: 35%;
        color: #b490ca;
        background-color: #b490ca;
        margin-top: 3%;
        height: 3px;
    }

    .homeLinks {
        font-size: 5vw;
    }

    .h1links {
        padding-right: 5%;
        padding-left: 5%;
        margin-top: 2%;;
    }

    .homeBody {
        width: 100vw;
        height: 65vh;

    }

    .homeContent {
        height: 65vh;
        padding-top: 10%;
        background: #c3cfe2;
        background: -webkit-linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
        background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    }

    .comic {
        margin-left: 5%;
        margin-right: auto;
        width: 90vw;
    }

    .caption {
        text-align: center;
        font-size: 5vw;
        margin-top: 5%;
    }

    .bodylinks { 
        margin: 2%;

    }

    .mobileNext {
        width: 100vw;
        padding-top: 5%;
        position: relative;
        z-index: 9;
        
    }

    .desktopNext {
        display: none;
    }

    .footerlinks {
        padding-right: 5%;
        padding-left: 5%;
        font-size: 6vw;
        display: flex;
        justify-content: space-around;
    }

    .footer {
        height: 15vh;
        width: 100vw;
    }

    .aboutBody {
        height: 80vh;
        width: 100vw;
        background: #136a8a;
        background: -webkit-linear-gradient(to right, #267871, #136a8a); 
        background: linear-gradient(to right, #267871, #136a8a);
        }


    .aboutContent {
        font-size: 2vw;
        height: 80vh;
        background: #c3cfe2;
        background: -webkit-linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
        background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    }

    .aboutGlitch {
        width: 100vw;
        background-color: #bdc2e8;
        background-image: -webkit-linear-gradient(to top, #bdc2e8 0%, #bdc2e8 1%, #e6dee9 100%);
        background-image: linear-gradient(to top, #bdc2e8 0%, #bdc2e8 1%, #e6dee9 100%);
        padding-bottom: 10%;
        padding-top: 10%;
    }

    .aboutGlitch-text {
        width: 70vw;
        font-size: 4vw;
        padding-top: 2%;
        padding-bottom: 2%;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
        background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
    }

    .aboutUs {
        padding-bottom: 10%;
        background: #dfe9f3;
        background-image: -webkit-linear-gradient(to top, #dfe9f3 0%, white 100%);
        background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
    }

    .aboutUs-Hd {
        text-align: center;
        font-size: 4vw;
        padding-top: 6%;
        padding-bottom: 6%;
        background: #c3cfe2;
        background: -webkit-linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
        background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    }
    
    .aboutPhoto {
        border-radius: 50%;
        height: 18vh;
        width: auto;
    }

    .aboutSection {
        padding-top: 10%;
        margin-left: 10vw;
        margin-right: 10vw;
        display: flex; 
        flex-direction: row;
        padding-bottom: 5%;
    }

    .bioText {
        height: 18vh;
        padding-left: 5%;
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    .bioName {
        font-size: 3vw;
        text-align: left;
        padding-bottom: 5%;
    }

    .bioContent {
        font-size: 2.25vw;
        text-align: left;
    }

}

/*Tablet Styles*/
@media only screen and (min-width: 600px) and (max-width: 800px) {
    .menuDiv {
        display: block;
        height: 25vh;
    }

    .homeTitle-mb {
        text-align: center;
        margin-top: 6%;
        font-size: 6vw;
    }

    .homeTitle-dk {
        display: none;
    }

    .hrLine {
        width: 30%;
        margin-left: 35%;
        margin-right: 35%;
        color: #b490ca;
        background-color: #b490ca;
        margin-top: 2%;
        height: 3px;
    }

    .homeLinks {
        font-size: 5vw;
        padding-bottom: 0;
    }

    .h1links {
        padding-right: 5%;
        padding-left: 5%;
        margin-top: 1%;
    }

    .homeBody {
        width: 100vw;
        height: 55vh;

    }

    .homeContent {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 55vh;
        padding-top: 4%;
        padding-bottom: 4%;
        background: #c3cfe2;
        background: -webkit-linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
        background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    }

    .comic {
        width: 60vw;
        margin-left: 20%;
        margin-right: auto;
    }

    .caption {
        text-align: center;
        font-size: 4vw;
        padding-top: 5%;
    }

    .mobileNext {
        width: 100vw;
        padding-top: 5%;
        position: relative;
        z-index: 9;
        
    }

    .desktopNext {
        display: none;
    }

    .footerlinks {
        padding-right: 5%;
        padding-left: 5%;
        font-size: 6vw;
        display: flex;
        justify-content: space-around;
    }

    .footer {
        height: 20vh;
        width: 100vw;
    }

    .aboutBody {
        height: 100vh;
        width: 100vw;
        background: #136a8a;
        background: -webkit-linear-gradient(to right, #267871, #136a8a); 
        background: linear-gradient(to right, #267871, #136a8a);
        }


    .aboutContent {
        font-size: 2vw;
        height: 100vh;
        background: #c3cfe2;
        background: -webkit-linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
        background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    }

    .aboutGlitch {
        width: 100vw;
        background-color: #bdc2e8;
        background-image: -webkit-linear-gradient(to top, #bdc2e8 0%, #bdc2e8 1%, #e6dee9 100%);
        background-image: linear-gradient(to top, #bdc2e8 0%, #bdc2e8 1%, #e6dee9 100%);
        padding-bottom: 10%;
        padding-top: 10%;
    }

    .aboutGlitch-text {
        width: 70vw;
        font-size: 4vw;
        padding-top: 2%;
        padding-bottom: 2%;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
        background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
    }

    .aboutUs {
        padding-bottom: 10%;
        background: #dfe9f3;
        background-image: -webkit-linear-gradient(to top, #dfe9f3 0%, white 100%);
        background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
    }

    .aboutUs-Hd {
        text-align: center;
        font-size: 3vw;
        padding-top: 6%;
        padding-bottom: 6%;
        background: #c3cfe2;
        background: -webkit-linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
        background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    }
    
    .aboutPhoto {
        border-radius: 50%;
        height: 25vh;
        width: auto;
    }

    .aboutSection {
        padding-top: 10%;
        margin-left: 10vw;
        margin-right: 10vw;
        display: flex; 
        flex-direction: row;
        padding-bottom: 5%;
    }

    .bioText {
        height: 25vh;
        padding-left: 5%;
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    .bioName {
        font-size: 3vw;
        text-align: left;
        padding-bottom: 5%;
    }

    .bioContent {
        font-size: 2vw;
        text-align: left;
    }

}

/*Desktop Styles*/
@media only screen and (min-width: 801px) {

    .menuDiv {
        height: 15vh;
        display: flex;
        justify-content: space-around;
    }

    .homeTitle-mb {
        display: none;
    }

    .homeTitle-dk {
        font-size: 3.25vw;
        padding-top: 3vh;
        padding-left: 3vw;
        width: 50vw;
    }

    .hrLine {
        display: none;
    }

    .homeLinks {
        font-size: 3vw;
        width: 50vw;
    }

    .h1links {
        padding-right: 10%;
    }

    .homeBody {
        height: 75vh;
        width: 100vw;
        background: #136a8a;
        background: -webkit-linear-gradient(to right, #267871, #136a8a); 
        background: linear-gradient(to right, #267871, #136a8a);
        display: flex;
        flex-direction: row;

        }

    .homeContent {
        display: flex;
        justify-content: space-around;
        height: 75vh;
        width: 90vw;
        padding-top: 2%;
        margin-top: 2vh;
        border-style: solid;
        border-color: #000000;
        border-width: 1px;
        background: #c3cfe2;
        background: -webkit-linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
        background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    }
    
    .comic {
        height: 90%;
        margin-bottom: 4%;
        margin-left: 2%;
        border-style: solid;
        border-color: #000000;
        border-width: 1px;
    }
            
    .caption {
        font-size: 3vw;
        text-align: center;
        padding-top: 15%;
        padding-bottom: 20%;
            }

    .mobileNext {
        display: none;
    }

    .desktopNext {
        height: 75vh;
        width: 5vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
    
    }

    .contentlinks-next {
        font-size: 3vw;
        padding-left: 1vw;
    }

    .contentlinks-prev {
        font-size: 3vw;
        padding-left: 2vw;
        padding-right: 1vw;
    }

    .footer {
        height: 10vh;
        width: 100vw;
    }

    .aboutBody {
        height: 100vh;
        width: 100vw;
        background: #136a8a;
        background: -webkit-linear-gradient(to right, #267871, #136a8a); 
        background: linear-gradient(to right, #267871, #136a8a);
        }


    .aboutContent {
        font-size: 2vw;
        height: 100vh;
        background: #c3cfe2;
        background: -webkit-linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
        background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    }

    .aboutGlitch {
        width: 100vw;
        background-color: #bdc2e8;
        background-image: -webkit-linear-gradient(to top, #bdc2e8 0%, #bdc2e8 1%, #e6dee9 100%);
        background-image: linear-gradient(to top, #bdc2e8 0%, #bdc2e8 1%, #e6dee9 100%);
        padding-bottom: 5%;
        padding-top: 5%;
    }

    .aboutGlitch-text {
        width: 70vw;
        font-size: 4vw;
        padding-top: 2%;
        padding-bottom: 2%;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
        background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
    }

    .aboutUs {
        padding-bottom: 10%;
        background: #dfe9f3;
        background-image: -webkit-linear-gradient(to top, #dfe9f3 0%, white 100%);
        background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
    }

    .aboutUs-Hd {
        text-align: center;
        padding-top: 6%;
        padding-bottom: 6%;
        background: #c3cfe2;
        background: -webkit-linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
        background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    }
    
    .aboutPhoto {
        border-radius: 50%;
        height: 50vh;
        width: auto;
    }

    .aboutSection {
        padding-top: 10%;
        margin-left: 10vw;
        margin-right: 10vw;
        display: flex; 
        flex-direction: row;
        padding-bottom: 5%;
    }

    .bioText {
        font-size: 3vw;
        text-align: left;
        padding-left: 5%;
    }

}



